
<p id="notice"><%= notice %></p>


<h1>Peticions</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" >Tipo de documento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Direccion</th>
      <th scope="col">Correo</th>
      <th scope="col">Pais</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Tiposolicitud</th>
      <th scope="col">Detalle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peticions.each do |peticion| %>
      <tr>
        <td><%= peticion.Tipo_de_documento %></td>
        <td><%= peticion.Nombre %></td>
        <td><%= peticion.Apellido %></td>
        <td><%= peticion.Direccion %></td>
        <td><%= peticion.Correo %></td>
        <td><%= peticion.Pais %></td>
        <td><%= peticion.ciudad %></td>
        <td><%= peticion.tipoSolicitud %></td>
        <td><%= peticion.Detalle %></td>
        <td><%= link_to 'Show', peticion %></td>
        <td><%= link_to 'Edit', edit_peticion_path(peticion) %></td>
        <td><%= link_to 'Destroy', peticion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--
<%= link_to 'New Peticion', new_peticion_path %>
-->