<!DOCTYPE html>
<html>
  <head>
    <title>AS</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      Start Bootstrap
                  </a>
              </li>
              <li>
                  <a href="#">Dashboard</a>
              </li>
              <li>
                  <a href="#">Shortcuts</a>
              </li>
              <li>
                  <a href="#">Overview</a>
              </li>
              <li>
                  <a href="#">Events</a>
              </li>
              <li>
                  <a href="#">About</a>
              </li>
              <li>
                  <a href="#">Services</a>
              </li>
              <li>
                  <a href="#">Contact</a>
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">    
      <!-- Arriba navbar -->
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">abrir</a>
                  <div class="container">
                    <a class="navbar-brand" href="#">
                      <img src="http://placehold.it/300x60?text=Logo" width="0" height="30" alt="">SISTEMA PQR
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                      <ul class="navbar-nav ml-auto">
                        
                            <a class="nav-link"><%= link_to 'Login', user_session_path %></a>
                        
                      </ul>
                    </div>
                  </div>
                </nav>
                <div class="p-3 mb-2 bg-light text-dark">
                      <%= yield %>
                    </div>
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

 

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

  </div>




  </body>
</div>
</html>
